[core]
        autocrlf=true
        eol=crlf

*       text=auto
*.ts    text    eol=crlf
*.js    text    eol=crlf
*.json  text    eol=crlf
*.yaml  text    eol=crlf
*.yml   text    eol=crlf
*.md    text    eol=crlf
